@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    --line-color: #e5e7eb
}
html.dark{
    --line-color:rgba(255,255,255,0.15)
}
.borderBlack{
     @apply border border-black/10
}
html,
body {
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
      cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><text y='24' font-size='24'>🧐</text></svg>") 16 16, auto;

}
section {
    box-sizing: border-box;
    /* Ensures padding/border don’t add to total width */
}

ul li {
    white-space: nowrap;
}